[user]
	name = Ethan Saxenian
	email = ethansaxenian+github@proton.me
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINJbnaX2PgEOXzKULIf+NmKEgSaQkGngGu+gCClPcnrx
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
	verbose = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
