[user]
  name = Ethan Saxenian
  email = ethansaxenian+github@proton.me
	signingkey = /Users/ethansaxenian/.ssh/id_ed25519.pub
[init]
  defaultBranch = main
[color]
  ui = auto
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:reference
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  followTags = true
[fetch]
  prine = true
  prineTags = true
  all = true
[help]
  autocorrect = prompt
