[user]
	name = Ethan Saxenian
	email = ethansaxenian@gmail.com
	email = esaxenian@middlebury.edu
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
  defaultBranch = main
[color]
	ui = auto
